# Exam 1a for rtAnalyst

**Import libraries**

In [30]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import math

**Import dataset**

In [3]:
df = pd.read_excel('CSDL_KhachHang.xlsx')
df.head()

,STT,Tên KH,Mã KH,Ngày nhập CSDL,Thôn,Xã,Huyện,Tỉnh,Mã thôn,Mã xã,Mã huyện,Mã tỉnh,SĐT,Địa chỉ KH,Bảng Giá áp dụng
0,1,Bà Liên ( Chức,TG.095.01,2017-03-10 16:45:43,Thanh Gia,Quảng Phú,Lương Tài,Bắc Ninh,TG,9514,264,27,1.677642e+09,Thanh Gia,SH
1,2,Bà Tiến,CP.022,2017-01-23 12:38:01,Chinh Phú,Trung Chính,Lương Tài,Bắc Ninh,CP,9523,264,27,NaN,Chinh Phú,SH
2,3,Bà Tĩnh,CP.018,2017-01-23 12:38:01,Chinh Phú,Trung Chính,Lương Tài,Bắc Ninh,CP,9523,264,27,NaN,Chinh Phú,SH
3,4,Bà Trừ,CP.056,2017-01-23 12:38:01,Chinh Phú,Trung Chính,Lương Tài,Bắc Ninh,CP,9523,264,27,NaN,Chinh Phú,SH
4,5,Bùi Đức Hải,TC.127,2017-01-23 12:38:01,Trung Chinh,Trung Chính,Lương Tài,Bắc Ninh,TC,9523,264,27,NaN,Trung Chinh,SH

**This function is used to convert phone number to its proper form**

In [33]:
def convertPhoneNumber(pnum):
    if math.isnan(pnum):
        return pnum
    x = str(pnum)
    x = x.replace('.0', '')
    if(x[0] != '1' and x[0] != '9'):
        x = '02' + x
    else:
        x = '0' + x
    return x

**We applied the function above to convert phone number and reassign to column SĐT, ignore NaN**

In [36]:
df['SĐT'] = df['SĐT'].apply(convertPhoneNumber)

**Query from the original dataset to get only households that living in Quảng Phú alongside with SĐT and Mã KH then reassign to result dataframe**

In [39]:
result = df[(df['Xã'] == 'Quảng Phú')][['Mã KH','SĐT', 'Xã']].dropna()

In [40]:
result.head()

        Mã KH          SĐT         Xã
0   TG.095.01  01677642406  Quảng Phú
50  TG.105.02  01697685880  Quảng Phú
52     TG.141   0968532997  Quảng Phú
54  TG.105.01   0964338169  Quảng Phú
57  TG.071.06   0968943324  Quảng Phú

**Write the result dataframe to csv file**

In [41]:
result.to_csv('Result')